In [3]:
#dependencies

import pandas as pd
import seaborn as sns
import numpy as np
import sqlite3

In [4]:
#sql connection

connection = sqlite3.connect('LootLoader')

sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM dbo.A_Historical
                               ''', connection)

df = pd.DataFrame(sql_query, columns = ['Symbol', 'nDate', 'nTime', 'Price', 'EMA200', 'EMA200Angle', 'stdrdDev1', 'stdrdDev2', 'stdrdDev3', 'stdrdDev4', 'stdrdDev5', 'stdrdDev6', 'stdrdDev7', 'stdrdDev8', 'stdrdDev9', 'stdrdDev10'])
df.head()

DatabaseError: Execution failed on sql '
                               SELECT
                               *
                               FROM dbo.A_Historical
                               ': no such table: dbo.A_Historical